<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.mapper.CollegeMapper">
    <resultMap id="BaseResultMap" type="com.cxy.model.College">
        <result column="id" property="id"/>
        <result column="college" property="college"/>
        <result column="initial" property="initial"/>
        <result column="famous_person" property="famousPerson"/>
        <result column="description" property="description"/>
        <result column="english_name" property="englishName"/>
        <result column="support_num" property="supportNum"/>
        <result column="register_num" property="registerNum"/>
    </resultMap>

    <select id="queryCollegeByInitial" resultType="String" parameterType="String">
     SELECT college FROM t_college WHERE initial = #{initial}
    </select>

    <select id="queryCollegeDetailByName" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM t_college WHERE college = #{collegeName}
    </select>

    <select id="queryCollegeForUpdate" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM t_college WHERE college = #{whichCollege}
    </select>

    <update id="updateCollegeInfo" parameterType="com.cxy.model.College">

        UPDATE t_college
        <set>
            <if test="famousPerson != null ">
                famous_person = #{famousPerson},
            </if>
            <if test="supportNum != null ">
                support_num = #{supportNum},
            </if>
            <if test="registerNum != null ">
                register_num = #{registerNum},
            </if>

        </set>
        <where>
            <if test="id != null ">
                id = #{id}
            </if>
            <if test="college != null ">
                AND college = #{college}
            </if>
        </where>
        <!--</foreach>-->
    </update>

</mapper>