<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cxy.model.User">
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="support" property="support"/>
        <result column="university" property="university"/>
        <result column="attention" property="attention"/>
        <result column="live_city" property="liveCity"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="fans" property="fans"/>
        <result column="user_id" property="userId"/>
        <result column="pass_word" property="passWord"/>
        <result column="hide_self_or_not" property="hideSelfOrNot"/>
        <result column="today_available_support" property="todayAvailableSupport"/>
        <result column="pay_available_support" property="payAvailableSupport"/>
        <result column="history_used_support" property="historyUsedSupport"/>
    </resultMap>

    <insert id="saveUser" parameterType="com.cxy.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="realName != null">
                real_name,
            </if>
            <if test="passWord != null">
                pass_word,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="support != null">
                support,
            </if>
            <if test="university != null">
                university,
            </if>
            <if test="attention != null">
                attention,
            </if>
            <if test="liveCity != null">
                live_city,
            </if>
            <if test="fans != null">
                fans,
            </if>
            <if test="phoneNum != null">
                phone_num,
            </if>
            <if test="registerIp != null">
                register_ip,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="realName != null">
                #{realName},
            </if>
            <if test="passWord != null">
                #{passWord},
            </if>
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="support != null">
                #{support},
            </if>
            <if test="university != null">
                #{university},
            </if>
            <if test="attention != null">
                #{attention},
            </if>
            <if test="liveCity != null">
                #{liveCity},
            </if>
            <if test="fans != null">
                #{fans},
            </if>
            <if test="phoneNum != null">
                #{phoneNum},
            </if>
            <if test="registerIp != null">
                #{registerIp},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
        </trim>
    </insert>

    <update id="updateUserInfo" parameterType="com.cxy.model.User">

        <!--<foreach collection="list" item="item" index="index"-->
        <!--separator=";">-->
        UPDATE USER
        <set>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="passWord != null and passWord != ''">
                pass_word = #{passWord},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="sex != null ">
                sex = #{sex},
            </if>
            <if test="support != null ">
                support = #{support},
            </if>
            <if test="university != null and university != ''">
                university = #{university},
            </if>
            <if test="attention != null ">
                attention = #{attention},
            </if>
            <if test="liveCity != null and liveCity != ''">
                live_city = #{liveCity},
            </if>
            <if test="fans != null and fans != ''">
                fans = #{fans},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num = #{phoneNum},
            </if>

            <if test="loginScore != null  ">
                login_score = #{loginScore},
            </if>
            <if test="payScore != null  ">
                pay_score = #{payScore},
            </if>
            <if test="activityScore != null ">
                activity_score = #{activityScore},
            </if>
            <if test="todayAvailableSupport != null ">
                today_available_support = #{todayAvailableSupport},
            </if>
            <if test="payAvailableSupport != null and payAvailableSupport != ''">
                pay_available_support = #{payAvailableSupport},
            </if>
            <if test="historyUsedSupport != null and historyUsedSupport != ''">
                history_used_support = #{historyUsedSupport},
            </if>
            <if test="vipEndTime != null">
                vip_end_time = #{vipEndTime},
            </if>
            <if test="historyPayMoney != null and historyPayMoney != ''">
                history_pay_money = #{historyPayMoney},
            </if>
            <if test="lastLoginTime != null ">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                last_login_ip = #{lastLoginIp},
            </if>
            <if test="hideSelfOrNot != null ">
                hide_self_or_not = #{hideSelfOrNot}
            </if>

        </set>
        <where>
            <if test="id != null ">
                id = #{id}
            </if>
            <if test="userId != null ">
               AND user_id = #{userId}
            </if>
        </where>
        <!--</foreach>-->
    </update>


    <select id="queryUser" resultMap="BaseResultMap" resultType="com.cxy.model.User" parameterType="map">
        SELECT * FROM user
        <include refid="selectSql"/>
    </select>

    <sql id="selectSql">
        <where>
            <if test="userId !=null and userId != ''">
                user_id = #{userId}
            </if>
            <if test="phoneNum !=null and phoneNum != ''">
                AND phone_num = #{phoneNum}
            </if>
        </where>

    </sql>

    <select id="queryUserByUserIdForUpdate" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM user WHERE user_id = #{userId} FOR UPDATE
    </select>

    <select id="queryUserByUserId" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <select id="queryLastUserId" resultType="Long">
        SELECT user_id FROM user ORDER BY id DESC limit 1
    </select>

    <!--查询所有已注册的手机号-->
    <select id="queryPhoneList" resultType="String">
        SELECT phone_num FROM USER
    </select>


</mapper>